* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

body {
    background-color: #000;
}

main {
    width: 80%;
    margin: auto;
    background-color: rgb(255, 154, 154);;
}

h1, h2, h3 {
    color: #fff;
}

h1 {
    font-size: 12em;
    line-height: .9em;
    margin: 0.3em;
    padding: 0em 0em 0em .09em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 4em;
    padding: 0em 0em 0em 1.4em;
}

ol {
    color: #fff;
    font-size: 2em;
    padding: 1em;
}

li {
    padding: 1em;
}

label {
    color: #fff;
    font-size: 2em;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    border-radius: 25px;
    height: 18em;
    width: 23%;
    background: #fff;
    color: #000;
    box-sizing: border-box;
    margin: 5px;
    padding: 1em;
    font-size: 1.5em;
    font-weight: 500;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#black {
    border-radius: 25px;
    height: 400px;
    background: #000;
    color: #fff;
    box-sizing: border-box;
    margin: auto;
    width: 30%;
    height: 17em;
    padding: 1em;
    font-size: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*  overrides jQuery defaults */

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background-color: rgb(138, 169, 255);
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background-color: #000;
}

.ui-tabs .ui-tabs-panel {
    background-image: url(/images/wood.png);
    height: 90vh;
    overflow: scroll;
}

#welcome, #directions, #submit {
    background: #000;
    height: 80vh;
    overflow: scroll;
}